body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #20201f;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-header-container {
    background-color: #FAF9D8;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.app-body-container {
    display: flex;
    flex-grow: 1;
}

.menu-panel {
    width: 140px;
    border: 1px solid #ccc;
    background-color: #EAE7E7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.menu-top {
    margin-bottom: 200;
    padding: 0;
}

.menu-bottom {
    margin-top: 200;
    padding: 0;
}

.menu-space {
    height: 200px;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}

.menu a:hover {
    color: #007BFF;
}

.app-module-container {
    width: 700px;
    flex-grow: 1;
    border: 1px solid #ccc;
    background-color: #f9e7cf;
    padding: 1em;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#data,
#current-prediction,
#summary-statistics,
#chat-bot,
#visualizations {
    font-size: 10px;
    background-color: rgb(255, 251, 246);
    padding: 20px;
    width: 400px;
    height: 400px;
    border: 2px solid #333;
    flex: 0 0 400px; /* This prevents the divs from growing or shrinking, maintaining 400px width */

}


.module-body {
    height: calc(100% - 40px);  /* 40px accounts for the padding of parent (20px top + 20px bottom) */
    max-width: 1000px;
    overflow-y: auto;
    overflow-x: auto;
}

/* Optional: Style the scrollbar for webkit browsers */
.module-body::-webkit-scrollbar {
    width: 8px;
}

.module-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.module-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.module-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0.5em 0;
}

h3 {
    border: 1px solid #000000;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #666;
    margin: 0.5em 0;
    padding: 10px;
}

h2 {
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}



#scatter-plot,
#histogram {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}