<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can Jim Beat Aleks In Rummy?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="app-container">
    <div class="app-header-container">
        <header class="app-header-text">
            <h1>Can Jim Beat Aleks In Rummy?</h1>
            website under construction ... beep beep beeeeep
        </header>
    </div>

    <div class="app-body-container">
        <div class="menu-panel">
            <nav class="menu">
                <h3> app navigation </h3>
                <ul class="menu-top">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Analysis</a></li>
                </ul>
                <div class="menu-space">
                    
                </div>
                <h3> links </h3>
                <ul class="menu-bottom">
                    <li><a href="https://github.com/aleksgeorgi" target="_blank">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/aleksgeorgi/" target="_blank">LinkedIn</a></li>
                </ul>
            </nav>
        </div>

        <div class="app-module-container">
            <div id="data">
                <div class="module-header">
                    <h4>Current data:</h4>
                </div>
                <div class="module-body">
                    this is where the data stream will be visible from GCP Cloud SQL after i figure out how to fix the GCP auth issues -_-
                </div>
            </div>
            <div id="current-prediction">
                <div class="module-header">
                    <h4>Current prediction:</h4>
                </div>
                <div class="module-body">
                    No Never
                </div>
            </div>
            <div id="summary-statistics">
                <div class="module-header">
                    <h4>summary statistics</h4>
                </div>
                <div class="module-body">
                    aleks > jim 
                </div>
            </div>
            <div id="chat-bot">
                <div class="module-header">
                    <h4>chatbot</h4>
                </div>
                <div class="module-body">
                    chat about this dataset and how aleks is the best 
                </div>
            </div>
        </div>
    </div>

</body>
</html>
