<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can Jim Beat Aleks In Rummy?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="app-container">
    <div class="app-header-container">
        <header class="app-header-text">
            <h1>Can Jim Beat Aleks In Rummy?</h1>
        </header>
    </div>

    <div class="app-body-container">
        <div class="menu-panel">
            <nav class="menu">
                <h3> app navigation </h3>
                <ul class="menu-top">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Analysis</a></li>
                </ul>
                <div class="menu-space">
                    
                </div>
                <h3> links </h3>
                <ul class="menu-bottom">
                    <li><a href="https://github.com/aleksgeorgi" target="_blank">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/aleksgeorgi/" target="_blank">LinkedIn</a></li>
                </ul>
            </nav>
        </div>
        

        <div class="app-module-container">
            <main>
                <!-- Content will go here -->
                website under construction
            </main>
        </div>
    </div>

</body>
</html>
